<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Farm</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">
  <h2>&#128668; Farm &#128668;</h2>
  <div>
    <p><b>Money:</b> <span th:text="${Farm.money}"></span>$</p>
  </div>
  <h3>&#128020; Chickens on Farm &#128020;</h3>
  <table style="width:100%" border="4"
         class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>ID</th>
      <th>Life Span</th>
      <th>Incubation Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="chicken:${chickens}">
      <td th:text="${chicken.id}"></td>
      <td th:text="${chicken.spanLife}"></td>
      <td th:text="${chicken.incubationTime}"></td>
    </tr>
    </tbody>
  </table>
  <h3>&#128035; Eggs on Farm &#128035;</h3>
  <table style="width:100%" border="4"
         class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>ID</th>
      <th>Life Span</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="egg:${eggs}">
      <td th:text="${egg.id}"></td>
      <td th:text="${egg.spanLife}"></td>
    </tr>
    </tbody>
  </table>
  <form  th:action="@{/pastTimeFarm(days,idFarm)}" method="get" >
    <div>
      <label for="days">Number of Days you want to pass:</label>
      <input id="days" type="number"  th:value="${days}" th:name="days" min="1"  />
      <input id="farmId" type="hidden" th:value="${Farm.id}" th:name="farmId">
      <button type="submit" >Pass Time &#9203;</button>
    </div>
  </form>

  <h2>Market</h2>
  <p>Chicken price per unit: 50$ (Sell/Buy)</p>
  <p>Egg price per unit: 25$ (Sell/Buy)</p>

  <h3>[Buy]</h3>
  <form  th:action="@{/BuyChickens(unitsOfChickensToBuy,idFarm)}" method="get" >
    <div>
      <label for="unitsOfChickensToBuy">Number of Chickens you want to Buy:</label>
      <input id="unitsOfChickensToBuy" type="number"  th:value="${unitsOfChickensToBuy}" th:name="unitsOfChickensToBuy" min="1"/><button type="submit">Buy&#128181;</button>Stock(<span th:text="${chickensOnMarket}"></span>)
      <input id="farmId1" type="hidden" th:value="${Farm.id}" th:name="farmId">
    </div>
  </form>

  <form  th:action="@{/BuyEggs(unitsOfEggsToBuy,idFarm)}" method="get" >
    <div>
      <label for="unitsOfEggsToBuy">Number of Eggs you want to Buy:</label>
      <input id="unitsOfEggsToBuy" type="number"  th:value="${unitsOfEggsToBuy}" th:name="unitsOfEggsToBuy" min="1"/><button type="submit">Buy&#128181;</button>Stock(<span th:text="${eggsOnMarket}"></span>)
      <input id="farmId2" type="hidden" th:value="${Farm.id}" th:name="farmId">
    </div>
  </form>

  <h3>[Sell]</h3>
  <form  th:action="@{/sellChickens(unitsOfChickensToSell,idFarm)}" method="get" >
    <div>
      <label for="unitsOfChickensToSell">Number of Chickens you want to Sell:</label>
      <input id="unitsOfChickensToSell" type="number"  th:value="${unitsOfChickensToSell}" th:name="unitsOfChickensToSell" min="1"  />
      <input id="farmId3" type="hidden" th:value="${Farm.id}" th:name="farmId">
      <button type="submit">Sell&#128181;</button>Stock(<span th:text="${chickensOnFarm}"></span>)
    </div>
  </form>

  <form  th:action="@{/sellEggs(unitsOfEggsToSell,idFarm)}" method="get" >
    <div>
      <label for="unitsOfEggsToSell">Number of Eggs you want to Sell:</label>
      <input id="unitsOfEggsToSell" type="number"  th:value="${unitsOfEggsToSell}" th:name="unitsOfEggsToSell" min="1"  />
      <input id="farmId4" type="hidden" th:value="${Farm.id}" th:name="farmId">
      <button type="submit">Sell&#128181;</button>Stock(<span th:text="${eggsOnFarm}"></span>)
    </div>
  </form>

</div>
</body>
</html>